.lgnBdy
{
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  background-color: white;
  background-image: url("../img/bg_01.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.lgnLbl
{
  font-weight: bold;
  width: 250px;
  font-size: 16px;
  text-align: left;
  vertical-align: middle;
  position: relative; top: 1%;
}

.lgnBox
{
  border: #626263 solid 0px;
  font-size: 20px;
  width: 250px;
  padding: 2%;
}

.lgn_btn
{
  background-color: #214a8c;
  color: white;
  border: #214a8c solid 1px;
  width: 250px;
  padding: 2%;
  text-align: center;
}

.lgn_btn:hover
{
  background-color: white;
  color: #214a8c;
  border: #214a8c solid 1px;
  width: 250px;
  padding: 2%;
  text-align: center;
}

.login_box_main
{
  position: absolute; top: 30%; left:40%;
  width: 280px;
  height: 190px;
  border: solid 1px white;
  background-color: white;
  /*align = "left"*/
}

.login_title
{
  background-color:#626263;
  color:#FFFFFF;
  padding:3px;"
  border: solid 1px yellow;
}

.login_box
{
  position: relative; top: 2%; left: 3%;
  width: 260px;
  height: 120px;
  border: solid 1px white;
  background-color: white;
  text-align: center;
}

.login_box_msg
{
  height: 30px;
  font-size:12px;
  text-align: center;
  color:#cc0000;
  margin-top:10px;
  background-color: white;
}

.hdr_Bdy
{
  font-family: impact;
  font-size: 50px;
  background-color: #626263;
  background-image: url("../img/header.jpeg");
  /*background-repeat: no-repeat;*/
  background-size: 170px;
}

.logOut
{
  background-color: white;
  width: 120px;
  height: 100%;
  font-size: 25px;
  /*font-weight: bold;*/
  font-family: arial;
  text-align: center;
  color: #626263;
  border-style: hidden;
  position: absolute; right: 0px; bottom: 0px;
}

.logOut:hover
{
  background-color: #e7e5f9;
  width: 120px;
  height: 100%;
  font-size: 25px;
  font-weight: bold;
  font-family: arial;
  color: white;
  border: solid 1px #214a8c;
  position: absolute; right: 0px; bottom: 0px;
}

.footer
{
  background-color: #214a8c;
  /*background-color: white;*/
}

.mnu_body
{
  background-color: #e7e5f9;
}

.mnu
{
  position: absolute; top: 1%; left: 0%;
  width: 400px;
  height: auto;
  border: solid 0px white;
  background-color: #e7e5f9;
}

.mnu_lnk
{
  background-color: #e7e5f9;
  width: 140px;
  height: 21px;
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  /*margin-left: 2%;*/
  color: #214a8c;
  position: relative; left: 2%;
  /*padding: 1px;*/
}

.mnu_lnk:hover
{
  /*background-color: #214a8c;*/
  width: 140px;
  height: 24px;
  font-size: 19px;
  text-align: left;
  vertical-align: middle;
  /*margin-left: 2%;*/
  color: #214a8c;
  position: relative; left: 2%;
  border: solid 1px #214a8c;
  padding: 1px;
}

.frm
{
  align-self: center;
  background-color: transparent;
  width: 100%;
}

.frm_tr
{
  background-color: #e0dbf9;
  text-transform: uppercase;
  text-align: left;
}

.frm_th
{
  background-color: #e0dbf9;
  border-width: thin;
  border-style: none;;
  border-color: black;
  text-transform: uppercase;
  text-align: left;
}

.frm_btn
{
  background-color: #e0dbf9;
  border-width: thin;
  border-style: none;
  border-color: black;
  text-transform: uppercase;
  text-align: right;
}

.frm_td
{
  background-color: white;
  border-width: thin;
  border-style: none;
  border-color: black;
  border-collapse: collapse;
  border-radius:;
  text-align: left;
}

.frmbox
{
  border-style: hidden;
  border-width: thin;
  background-color: #fcf7e3;
  text-align: left;
}

input[type=text], input[type=textarea], input[type=date], input[type=number], select, input[type=password]
{
  width: 250px;
}

.lst_bdy
{
  background-color: white;
  /*background-image: url("../img/bg_02.jpg");*/
  background-repeat: no-repeat;
  background-size: 100% ;
}

.lst
{
  width: 100%;
  border: 1px solid black;
  border-bottom: 2px solid black;
}

.lst_th
{
  background-color: #e7e5f9;
  border-bottom: 2px solid black;
  text-align: left;
  border-spacing: 0px;
}

.lst_td
{
  text-align: left;
  border-bottom: 1px solid #b3b6bc;
}

.lst_id
{
  text-align: left;
  border-bottom: 1px solid #b3b6bc;
  width: 90px;
}

.lst_dt
{
  text-align: left;
  border-bottom: 1px solid #b3b6bc;
  width: 90px;
}

.lst_btn
{
  text-align: left;
  border-bottom: 1px solid #b3b6bc;
  width: 30px;
}

.lst_tr:nth-child(even)
{
  background-color: #f2f2f2
  overflow: visible;
}

.lst_tr:hover
{
  background-color: #fffae8;
}

/*pagination*/
div.pagination
{
  padding: 3px;
  margin: 3px;
}

div.pagination a
{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #626263;
  text-decoration: none; /* no underline */
  color: #626263;
}

div.pagination a:hover, div.pagination a:active
{
  border: 1px solid #e0dbf9;
  color: red;
  text-decoration: underline;
}
div.pagination span.current
{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #e0dbf9;
  color: #000000;
}

div.pagination span.disabled
{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
}

a:link
{
  color: #2200cc;
}

/* visited link */
a:visited
{
  color: #2200cc;
}

/* mouse over link */
a:hover
{
  color: red;
}

/* selected link */
a:active
{
  color: #c9dbef;
}

b
{
  font-weight: bold;
}

.closebtn
{
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.closebtn:hover
{
  color: #000;
}
/* Error Handling*/
.reject
{
  font-weight: bold;
  color: red;
}

.complete
{
  font-weight: bold;
  color: #0216f2;
}
